*{
    box-sizing: border-box;
    margin: 0;
}

h1{
    text-align: center;
    text-decoration: underline;
    color: brown;
    margin-bottom: 20px;
}

.img{
    margin: 0 auto;
    width: 80%;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


img{
    display: block;
    width: 420px;
    height: 250px;
    margin-top: 20px;
}

li{
    margin-bottom: 20px ;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}
